<%- include('header.ejs') %>
<div class="page-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12">
        <div class="page-title-box d-flex justify-content-between align-items-center">
          <div>
            <h4 class="mb-sm-0">Manage Todo</h4>
            <div class="page-title-right">
              <ol class="breadcrumb m-0">
                <li class="breadcrumb-item"><a href="javascript: void(0);">Todo</a></li>
                <li class="breadcrumb-item active">Manage Todo</li>
              </ol>
            </div>
          </div>
          <div>
            <a href="" class="btn btn-primary"><i class="ri-add-line me-2"></i>Add New</a>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4">
        <form method="post" action="/add-todo-process" id="formsubmit">
          <input type="hidden" name="todo_id" value="<%=fileIdData.filename??""%>">
          <div class="card bg-secondary rounded p-3">
            <div class="card-header">
              <div class="row align-items-center gy-3">
                <div class="col-sm">
                  <h5 class="card-title my-1">Add Todo</h5>
                </div>
              </div>
            </div>
            <div class="card-body justify-content-sm-center">
              <div class="row">
                <div class="col-lg-12">
                  <div class="mb-3">
                    <label class="form-label">Todo Name: <span style="color: red;">*</span></label>
                    <input type="text" class="form-control required " placeholder="Todo Name" id='todo_name' name="todo_name" value="<%=fileIdData.filename ?? ""%>" />

                  </div>
                </div>
                <div class="col-lg-12">
                  <div class="mb-3">
                    <label class="form-label">Todo Desc: <span style="color: red;">*</span></label>
                    <input type="text" class="form-control required " placeholder="Todo Desc" id='todo_desc' value="<%= fileIdData.data ?? ""%>" name="todo_desc" />

                  </div>
                </div>


              </div>
            </div>
            <div class="card-footer  d-flex justify-content-between">
              <button type="submit" id='button' class="btn btn-success">Submit</button>
            </div>
          </div>

        </form>
      </div>
      <div class="col-lg-8">
        <div class="card bg-secondary rounded p-2">
          <div class="card-header">
            <div class="row align-items-center gy-3">
              <div class="col-sm">
                <h5 class="card-title my-1">Todo</h5>
              </div>
            </div>
          </div>
          <div class="card-body justify-content-sm-center">
            <div class="row align-items-center gy-3">
              <div class="col-lg-12">
                <table class="table">
                  <thead>
                    <tr>
                      <th style="width:60px">S.no.</th>
                      <th>Todo Name</th>
                      <th>Todo Desc</th>
                      <th class="text-center">Action</th>
                    </tr>
                  </thead>
                  <tbody>
                    <% if(file.length>0){ %>
                    <% var counter=1 ; file.forEach((data)=>{ %>

                    <tr>
                      <th>
                        <%= counter++%>
                      </th>
                      <td>
                        <%= data%>
                      </td>
                      <td>sdagdsfgasg</td>

                      <td class="text-center">
                        <a href="/todo/<%= data%>" class="btn btn-info btn-sm btnaction"><i class="fas fa-pencil-alt"></i></a>
                        <a href="" onclick="return confirm('Are you sure you want to delete?')" class="btn btn-danger  btn-sm btnaction"><i class="fas fa-trash "></i></a>
                      </td>
                    </tr>


                    <% })%>

                    <% } else{ %>
                    <tr>
                      <td class="text-center" colspan="5">No Data Found</td>
                    </tr>
                    <% } %>
                  </tbody>
                </table>
              </div>
            </div>
          </div>

          <div class="card-footer listing justify-content-sm-center">
            <p>Sowing 1 of 1</p>
          </div>

        </div>
      </div>

    </div>
  </div>
</div>

<%- include('footer.ejs') %>