<%- include('../header.ejs') %>

<div class="page-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12">
        <div class="page-title-box d-flex justify-content-between align-items-center">
          <div>
            <h4 class="mb-sm-0">Manage User</h4>
            <div class="page-title-right">
              <ol class="breadcrumb m-0">
                <li class="breadcrumb-item"><a href="javascript: void(0);">User</a></li>
                <li class="breadcrumb-item active">Manage User</li>
              </ol>
            </div>
          </div>
          <div>
            <a href="" class="btn btn-primary"><i class="ri-add-line me-2"></i>Add New</a>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <form method="post" action="/admin/add-user-process" id="formsubmit">
          <input type="hidden" name="_id" value="<%= userData && userData !="" ? userData._id :"" %>">
          <div class="card bg-secondary rounded p-3">
            <div class="card-header">
              <div class="row align-items-center gy-3">
                <div class="col-sm">
                  <h5 class="card-title my-1">Add User</h5>
                </div>
              </div>
            </div>
            <div class="card-body justify-content-sm-center">
              <div class="row">
                <div class="col-lg-12">
                  <div class="mb-3">
                    <label class="form-label">User Name: <span style="color: red;">*</span></label>
                    <input type="text" class="form-control required " placeholder="User Name" id='name' name="name" value="<%= userData && userData !="" ? userData.name :"" %>" />

                  </div>
                </div>
                
                <div class="col-lg-12">
                  <div class="mb-3">
                    <label class="form-label">Username: <span style="color: red;">*</span></label>
                    <input type="text" class="form-control required " placeholder="Username" id='username' value="<%= userData && userData !="" ? userData.username :"" %>" name="username" />

                  </div>
                </div>
                <div class="col-lg-12">
                  <div class="mb-3">
                    <label class="form-label">User email: <span style="color: red;">*</span></label>
                    <input type="text" class="form-control required " placeholder="User email" id='email' value="<%= userData && userData !="" ? userData.email :"" %>" name="email" />

                  </div>
                </div>
                <div class="col-lg-12">
                  <div class="mb-3">
                    <label class="form-label">User Password: <span style="color: red;">*</span></label>
                    <input type="text" class="form-control required " placeholder="User password" id='password' value="" name="password" />

                  </div>
                </div>
              </div>
            </div>
            <div class="card-footer  d-flex justify-content-between">
              <button type="submit" id='button' class="btn btn-success">
                <%= userData && userData !="" ? "Update" :"Submit" %>
              </button>
            </div>
          </div>
        </form>
      </div>

    </div>
  </div>
</div>

<%- include('../footer.ejs') %>