<%- include('../header.ejs') %>
<style>
  .video-container {
    position: relative;
    width: 560px;
    height: 315px;
  }
  .video-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0); /* Transparent */
    cursor: pointer;
  }
</style>
<div class="page-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12">
        <div class="page-title-box d-flex justify-content-between align-items-center">
          <div>
            <h4 class="mb-sm-0">Manage Blog</h4>
            <div class="page-title-right">
              <ol class="breadcrumb m-0">
                <li class="breadcrumb-item"><a href="javascript: void(0);">Blog</a></li>
                <li class="breadcrumb-item active">Manage Blog</li>
              </ol>
            </div>
          </div>
          
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <form method="post" action="/admin/add-blog-process" id="formsubmit" enctype="multipart/form-data">
          <input type="hidden" name="_id" value="<%= (typeof blogIdData !=="undefined" && blogIdData !="") ? blogIdData._id :"" %>">
          <div class="card bg-secondary rounded p-3">
            <div class="card-header">
              <div class="row align-items-center gy-3">
                <div class="col-sm">
                  <h5 class="card-title my-1">Add Blog</h5>
                </div>
              </div>
            </div>
            <div class="card-body justify-content-sm-center">
              <div class="row">
                <div class="col-lg-12">
                  <div class="mb-3">
                    <label class="form-label">Blog Name: <span style="color: red;">*</span></label>
                    <input type="text" class="form-control required " placeholder="blog Name" id='blog_name' name="blog_name" value="<%= (typeof blogIdData !=="undefined" && blogIdData !="") ? blogIdData.blog_name :"" %>" />

                  </div>
                </div>

                <div class="col-lg-12">
                  <div class="mb-3">
                    <label class="form-label">Blog Desc: <span style="color: red;">*</span></label>
                    <input type="text" class="form-control required " placeholder="blog_desc" id='blog_desc' value="<%= (typeof blogIdData !=="undefined" && blogIdData !="") ? blogIdData.blog_desc :"" %>" name="blog_desc" />

                  </div>
                </div>
                <div class="col-lg-12">
                  <a href="/admin/blog">
                  <video src="https://www.youtube.com/embed/MseIwZwkXyI?si=n-wL51MonMg28AX_"></video>
                  <div class="video-overlay"></div>
                </a>
                </div>
                <div class="col-lg-12">
                  <div class="mb-3">
                    <!-- <%= console.log(ENV.APP_URL+'public/img/uploads/blog/1720968056053-paradise.png')%> -->
                    <div class="fileimg d-flex">
                      <img class="fileimg-preview logoimage mediaImage mt-2" src="<%= (typeof blogIdData !=="undefined" && blogIdData !="") ? blogIdData.blog_image :"/img/defaultimage.png" %>" style="width:80px;height:80px;margin-right: 10px;border-radius: 5px;">
                      <div style="width:100%">
                        <label class="form-label">Blog Image:<span style="color:red">*</span></label>
                        <div class="input-group">
                          <input type="file" class="form-control " id="imageFile" name="blog_image" accept="image/png, image/gif, image/jpeg" onchange="return imageValidation('imageFile')">

                        </div>
                        <small class="text-muted" style="font-size:11px;">Accepted: gif, png, jpg.
                          Max file size 2Mb</small>
                      </div>
                    </div>
                  </div>
                </div>
                <div>
                  <input type="file" name="image_2">
                </div>
              </div>
            </div>
            <div class="card-footer  d-flex justify-content-between">
              <button type="submit" id='button' class="btn btn-success">
                <%= (typeof blogIdData !=="undefined" && blogIdData !="") ? "Update" :"Submit" %>
              </button>
            </div>
          </div>
        </form>
      </div>

    </div>
  </div>
</div>
<script>
  var allowedMimes = ["png", "jpg", "jpeg", "gif"]; //allowed image mime types
  var maxMb = 2; //maximum allowed size (MB) of image
  function imageValidation(imageFile) {
    var fileInput = document.getElementById(imageFile);
    var mime = fileInput.value.split(".").pop();
    var fsize = fileInput.files[0].size;
    var file = fsize / 1024;
    var mb = file / 1024; // convert kb to mb
    if (mb > maxMb) {
      alert("Image size must be less than 2mb");
    } else if (!allowedMimes.includes(mime)) {
      // if allowedMimes array does not have the extension
      alert("Only png, jpg, jpeg alowed");
    } else {
      let reader = new FileReader();
      reader.onload = function(event) {
        $(".mediaImage").attr("src", event.target.result);
      };
      reader.readAsDataURL(fileInput.files[0]);
    }
  }
</script>
<script>
  document.getElementById('video-link').addEventListener('click', function(event) {
    event.preventDefault(); // Prevent default anchor behavior
    window.location.href = this.href; // Navigate to the specified href
  });
  
  </script>
<%- include('../footer.ejs') %>